@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: "Outfit", sans-serif;
}

a {
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.choose-mark-btn {
	@apply w-1/2 flex justify-center items-center py-[.65rem] rounded-md;
}

@layer components {
	.heading-l {
		@apply font-bold text-[2.5rem] tracking-[2.5px];
	}

	.heading-m {
		@apply font-bold text-[1.5rem] tracking-[1.5px];
	}

	.heading-s {
		@apply font-bold text-[1.25rem] tracking-[1.25px];
	}

	.heading-xs {
		@apply font-bold text-[1rem] tracking-[1px];
	}

	.body {
		@apply font-medium text-[0.875rem] tracking-[0.8px];
	}

	.yellow-btn {
		@apply w-full rounded-2xl bg-light_yellow shadow-[inset_0px_-8px_0px_#cc8b13] hover:bg-light_yellow_hover text-dark_navy font-bold pb-5 pt-3;
	}

	.blue-btn {
		@apply w-full rounded-2xl bg-light_blue shadow-[inset_0px_-8px_0px_#118C87] hover:bg-light_blue_hover text-dark_navy font-bold pb-5 pt-3;
	}
}
